<div class="card">

    <div class="flex justify-content-between  pb-3 mb-2 border-300  border-bottom-1">
  
      <div class="flex flex-column p-0 m-0">
        <h5 class="-mt-1">Checker</h5>
        <h6 class="-mt-1">Total item: {{totalSelectedRecords}}</h6>
      </div>
  
  
      <div class="flex flex-wrap gap-3">
        <p-toast />
        <p-confirmPopup />
        <button pButton label="Reject Selection" class="p-button-danger" [outlined]="true"
          (click)="confirm2($event)"></button>
        <button pButton label="Approve Selection" class="p-button-success" (click)="confirm1($event)"
          [outlined]="true"></button>
        <button pButton label="Review All" class="p-button-primary" (click)="approveRecord()" [outlined]="true" disabled></button>
      </div>
  
    </div>
    <div class="grid max-h-33rem">
  
      <div class="col-12 md:col-4 h-auto">
        <div class="selected-records-list">
          <p-table #dt [value]="selectedRecords" (onRowSelect)="onSelectedRecordChange($event.data)"  [globalFilterFields]="['customer_no']" [paginator]="true"
            [rows]="20" [rowsPerPageOptions]="[10, 20, 30, 40, 50]"  styleClass="p-datatable-striped" >
  
            <ng-template pTemplate="header">
              <tr>
  
                <th pSortableColumn="customer_no" style="min-width:20rem">Customer No <p-sortIcon field="customer_no"></p-sortIcon></th>
                <!-- <th pSortableColumn="customerFullName">Customer Name <p-sortIcon field="customerFullName"></p-sortIcon>
                </th> -->
              </tr>
            </ng-template>
  
            <ng-template pTemplate="body" let-selectedRecord  let-rowIndex="rowIndex">
              <tr (click)="onSelectedRecordChange(selectedRecord)"  class="cursor-pointer"
              [ngClass]="{'active-row': rowIndex === currentIndex}"> 
  
                <td>{{ selectedRecord.customer_no }}</td>
                <!-- <td>{{ selectedRecord.customerFullName }}</td> -->
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="col-none md:col-1">
        <p-divider layout="vertical" />
      </div>
  
      <div class="col-12 md:col-7 ">
        <div *ngIf="currentRecord"  class="p-formgrid grid h-30rem overflow-scroll overflow-x-hidden">
         
          <div *ngFor="let field of customerFields" class="field col-6 flex flex-column gap-2 field-container">
            <label>{{ field.name }}</label>
        
            <div *ngIf="currentRecord.newData" class="data new-data">
                <span>{{ currentRecord.newData[field.key] }}</span>
            </div>
            <div *ngIf="currentRecord?.oldData" class="data existing-data">
                <span>{{ currentRecord.oldData[field.key] }}</span>
            </div>
        </div>
  
          
        </div>
        <!-- <div class="p-formgrid grid h-30rem overflow-scroll overflow-x-hidden">
  
          <div  *ngFor="let field of customerFields" class="field col-6 flex flex-column gap-2 field-container">
  
            <label>{{ field.name }}</label>
            <div  class="data new-data">
  
              <span>{{ currentRecord.newData[field.key] }}</span>
            </div>
            <div  class="data existing-data">
  
              <span> {{ currentRecord.oldData[field.key] }}</span>
            </div>
          </div>
  
        </div> -->
  
  
      </div>
  
      
  
    </div>
  
  
  
  
  </div>
  
  
  
  <p-dialog header="Review Record" [(visible)]="reviewDialog" [style]="{ width: '50rem' }">
    <div class="p-field">
  
    </div>
    <div class="field col flex flex-column gap-2">
      <label>Comments</label>
      <textarea pInputTextarea [(ngModel)]="comments" rows="5"></textarea>
    </div>
    <div class="p-mt-2 flex gap-4">
      <button pButton label="Approve" class="p-button-success" (click)="confirmReview()"></button>
      <button pButton label="Cancel" class="p-button-secondary" (click)="cancelReview()"></button>
    </div>
  </p-dialog>