<div class="card">

  <div class="flex justify-content-between  pb-3 mb-2 border-300  border-bottom-1">

    <div class="flex flex-column p-0 m-0">
      <h5 class="-mt-1">Checker</h5>
      <h6 class="-mt-1">Total item: {{totalSelectedRecords}}</h6>
    </div>


    <div class="flex flex-wrap gap-3">
      <p-toast />
      <p-confirmPopup />
      <button pButton label="Reject Selection" class="p-button-danger" [outlined]="true"
        (click)="confirm2($event)"></button>
      <button pButton label="Approve Selection" class="p-button-success" (click)="confirm1($event)"
        [outlined]="true"></button>
      <button pButton label="Review All" class="p-button-primary" (click)="approveRecord()" [outlined]="true"></button>
    </div>

  </div>
  <div class="grid max-h-33rem">

    <div class="col-12 md:col-4 h-auto">
      <div class="selected-records-list">
        <p-table #dt [value]="selectedRecords" [globalFilterFields]="['cin', 'customer_full_name']" [paginator]="true"
          [rows]="10" [rowsPerPageOptions]="[10, 20, 30, 40, 50]" (onRowSelect)="onRecordSelect($event.data)">

          <ng-template pTemplate="header">
            <tr>

              <th pSortableColumn="cin">CIN <p-sortIcon field="cin"></p-sortIcon></th>
              <!-- <th pSortableColumn="customerFullName">Customer Name <p-sortIcon field="customerFullName"></p-sortIcon>
              </th> -->
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-selectedRecord>
            <tr (click)="currentRecord = selectedRecord" class="cursor-pointer">

              <td>{{ selectedRecord.cin }}</td>
              <!-- <td>{{ selectedRecord.customerFullName }}</td> -->
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-none md:col-1">
      <p-divider layout="vertical" />
    </div>

    <div class="col-12 md:col-7 ">
      <div *ngIf="customerData" class="p-formgrid grid h-30rem overflow-scroll overflow-x-hidden">

        <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Customer Name</label>
          <div class="data new-data">
              <span>{{ customerData.customer_full_name }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ customerData2.customer_full_name }}</span>
          </div>
      </div>
      
      <!-- <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Customer ID</label>
          <div class="data new-data">
              <span>{{ currentRecord.newData.customer_id }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.oldData.customer_id }}</span>
          </div>
      </div> -->
      
      <!-- <div class="field col-6 flex flex-column gap-2 field-container">
          <label>CIN</label>
          <div class="data new-data">
              <span>{{ currentRecord.cin }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.cin }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Meter Number</label>
          <div class="data new-data">
              <span>{{ currentRecord.meter_no }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.meter_no }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Account Number</label>
          <div class="data new-data">
              <span>{{ currentRecord.account_no }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.account_no }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Address</label>
          <div class="data new-data">
              <span>{{ currentRecord.address }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.address }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>City</label>
          <div class="data new-data">
              <span>{{ currentRecord.city }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.city }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>State</label>
          <div class="data new-data">
              <span>{{ currentRecord.state }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.state }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Nearest Landmark</label>
          <div class="data new-data">
              <span>{{ currentRecord.nearest_landmark }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.nearest_landmark }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Mobile</label>
          <div class="data new-data">
              <span>{{ currentRecord.mobile }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.mobile }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Email</label>
          <div class="data new-data">
              <span>{{ currentRecord.email }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.email }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Latitude</label>
          <div class="data new-data">
              <span>{{ currentRecord.latitude }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.latitude }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Longitude</label>
          <div class="data new-data">
              <span>{{ currentRecord.longitude }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.longitude }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Application Date</label>
          <div class="data new-data">
              <span>{{ currentRecord.application_date | date:'shortDate' }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.application_date | date:'shortDate' }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Account Type</label>
          <div class="data new-data">
              <span>{{ currentRecord.account_type }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.account_type }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Tariff Class</label>
          <div class="data new-data">
              <span>{{ currentRecord.tariff_class }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.tariff_class }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Feeder</label>
          <div class="data new-data">
              <span>{{ currentRecord.feeder }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.feeder }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Business Hub</label>
          <div class="data new-data">
              <span>{{ currentRecord.business_hub }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.business_hub }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Nature of Business</label>
          <div class="data new-data">
              <span>{{ currentRecord.cust_nature_of_business }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.cust_nature_of_business }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Meter Category</label>
          <div class="data new-data">
              <span>{{ currentRecord.customer_meter_category }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.customer_meter_category }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Meter Location</label>
          <div class="data new-data">
              <span>{{ currentRecord.customer_meter_location }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.customer_meter_location }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Landlord Name</label>
          <div class="data new-data">
              <span>{{ currentRecord.landlord_name }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.landlord_name }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Tenant Name</label>
          <div class="data new-data">
              <span>{{ currentRecord.tenant_name }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.tenant_name }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Supply Type</label>
          <div class="data new-data">
              <span>{{ currentRecord.customer_supply_type }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.customer_supply_type }}</span>
          </div>
      </div>
      
      <div class="field col-6 flex flex-column gap-2 field-container">
          <label>Comments</label>
          <div class="data new-data">
              <span>{{ currentRecord.comments }}</span>
          </div>
          <div class="data existing-data">
              <span>{{ currentRecord.comments }}</span>
          </div>
      </div> -->
        

        


      </div>


    </div>
  </div>
</div>



<p-dialog header="Review Record" [(visible)]="reviewDialog" [style]="{ width: '50rem' }">
  <div class="p-field">

  </div>
  <div class="field col flex flex-column gap-2">
    <label>Comments</label>
    <textarea pInputTextarea [(ngModel)]="comments" rows="5"></textarea>
  </div>
  <div class="p-mt-2 flex gap-4">
    <button pButton label="Approve" class="p-button-success" (click)="confirmReview()"></button>
    <button pButton label="Cancel" class="p-button-secondary" (click)="cancelReview()"></button>
  </div>
</p-dialog>