::ng-deep .p-dropdown{
    width: 100%;
}
.base{
  width: 1050px;
}

.field-container {
    margin-bottom: 1rem;
  }
  
  .label {
    font-weight: bold;
  }
  
  .data {
    padding: 0.5rem;
    border: 1px solid #ddd;
    margin-top: 0.5rem;
  }
  
  .new-data, .no-data {
    background-color: #e0ffe0; /* Light green background for new data */
  }
  
  .existing-data , .no-data-exist{
    background-color: #f0f0f0; /* Light grey background for existing data */
  }

  .active-row{
    background-color: #e0dddd;
    color: rgb(13, 13, 150);
    font-weight: bold;
  }
  
  .empty-data{
    padding: 0.5rem;
    border: 1px solid #ddd;
    margin-top: 0.5rem;
    background-color: #f0f0f0;
  }
  .review{
    padding: 0.5rem;
    border: 1px solid #ddd;
    margin-top: 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    
  }