<div class="card" style="overflow: hidden;">

    <form>
        <div class="flex gap-5 mb-4 justify-content-end flex-wrap">
          <div class="flex flex-column gap-2">
            <label for="username">Filter By Username :</label>
            <p-dropdown id="username" [options]="usernames" [(ngModel)]="tempusername" 
             placeholder="Enter username"  optionValue="name" optionLabel="name"></p-dropdown>
          </div>
      
          <div class="flex flex-column gap-2">
            <label for="category">Filter By Category :</label>
            <p-dropdown id="category" [options]="categories" [(ngModel)]="tempCategory" 
             placeholder="Select Category" optionValue="name" optionLabel="name" ></p-dropdown>
          </div>
      
          <div class="flex flex-column gap-2">
            <label for="dateFrom">Filter Date From:</label>
            <div class="flex gap-2">
              <input type="date" [(ngModel)]="tempDateFrom" pInputText class="date-range" />
            </div>
          </div>

          <div class="flex flex-column gap-2">
            <label for="dateTo">Filter Date To:</label>
            <div class="flex gap-2">
              <input type="date" [(ngModel)]="tempDateTo" pInputText class="date-range" />
            </div>
          </div>

          <div class="flex flex-column gap-2">
          <button pButton type="button" label="Filter" (click)="onFilterButtonClick()"></button>
          </div>
          
          
        </div>
      </form>
      

<p-table *ngIf="users && users.length" [value]="users" dataKey="event_uid" editMode="row"
    #dt1 [(selection)]="selectedUsers" [rowHover]="true" [rows]="pageSize" [paginator]="true"
    [totalRecords]="totalRecords" (onPage)="onPageChange($event)"
    [scrollable]="true" scrollHeight="400px" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['name', 'category', 'description']">

    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Event Sources</th>
           
            <th>Status</th>
            <th>Date</th>
            
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-ri="rowIndex">
        <tr [pEditableRow]="user">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="user.description" required />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ user.description || 'No description available' }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="user.category" required />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ user.category || 'No category available' }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="user.name" required />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ user.name }}
                    </ng-template>
                </p-cellEditor>
            </td>
           
            <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="user.status" required />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ user.status|| 'No status available' }}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td>
            {{ user.event_date  }}
        </td>
        </tr>
    </ng-template>
</p-table>



</div>


