.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping */
  }
  
  .flex-container .search-container {
    flex-grow: 1;
  }
  
  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column; /* Stack vertically on small screens */
      align-items: flex-start; /* Align items to the left */
    }
  
    .flex-container button {
      width: 77%; /* Full width button on small screens */
      margin-bottom: 10px; /* Add space between button and input */
    }
  
    .flex-container .search-container {
      width: 100%; /* Full width input container on small screens */
    }
  
    .flex-container .search-container input {
      width: 100%; /* Full width input field */
    }
  }



  .errors{
    color: red;
    font-size: 14px
  }
  

  .notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
    display: none; /* Hidden by default */
}

.success {
    background-color: #4CAF50; /* Success color (green) */
    color: white;
}

.error {
    background-color: #f44336; /* Error color (red) */
}

/* Add some animation */
@keyframes slide-down {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.notification.active {
    display: block;
    animation: slide-down 0.5s ease-in-out;
}



.card {
  max-width: 100%;
  overflow: hidden;
}



/* Make the form container a flexbox */
form {
  display: flex;
  justify-content: flex-end;  /* Align items to the right */
  width: 100%;
}

/* Ensures the flex container inside the form wraps the elements, and places them correctly */
.flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Allow the items to wrap if the screen size is small */
  justify-content: flex-end; /* Align child items to the end (right) */
}

/* Ensure individual input blocks are correctly spaced */
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

