<div class="customer-details-container">


    <!-- Back button -->
    <!-- <button pButton (click)="goBack()" class="mb-3">Back</button> -->
    <h2>Customer Details</h2>
  
    <!-- QR Code Display -->
    <!-- <div class="qr-code">
        <qrcode [qrdata]="customer.customerId" [size]="256" [level]="'M'"></qrcode>
      </div> -->

      <div class="card">
        <div class="flex flex-row gap-2">
          <div class="flex gap-2">
            <div class="circle bg-green-200 mt-1"></div>
            <span class="mt-1">New Customer</span>
          </div>
          <div class="flex gap-2">
            <div class="circle bg-gray-200 mt-1"></div>
            <span class="mt-1">Old Customer</span>
          </div>
        </div>
      </div>
  
    <!-- Customer Detail Fields -->
    <div class="grid">
      <div class="col-12 md:col-8">
        <div class="grid">
          <div class="col-12 md:col-6" *ngFor="let field of customerFields">
            <app-customer-details-qrcode-field [fieldName]="field.name"
              [newData]="newData ? newData[field.key]?.toString() || null : null"
              [existingData]="existingData ? existingData[field.key]?.toString() || null : null"></app-customer-details-qrcode-field>
  
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4">
  
        <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
          <ng-template pTemplate="marker" let-event>
            <span
              class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
              [style]="{ 'background-color': event.status === 'Rejected' ? '#ff0000' : '#00ff00'}">
              <i class="pi pi-inbox"></i>
            </span>
          </ng-template>
  
          <ng-template pTemplate="content" let-event>
            <!-- <p-card [header]="event.status" [subheader]="event.date" headerStyleClass="custom-header"
              subheaderStyleClass="custom-subheader">
              <p>
                {{ event.status }} was performed on {{ event.date }}.
              </p>
            </p-card> -->
            <div class="card w-100%">
           
              <!-- <div class="card w-100%"> -->
                <p class="text-xs">  <b>Category: </b>{{ event.category  }}</p>
                <p class="text-xs"> <b>Status: </b>{{ event.status }}</p>
                <p class="text-xs"> <b>Description: </b>{{ event.description }}</p>
                <p class="text-xs">  <b>Posted by: </b>{{ event.posted_by.name }}</p>
              <!-- </div> -->
         
            </div>
  
  
          </ng-template>
        </p-timeline>
      </div>
      
  
    </div>
  
  
  
  
  
  
    <!-- <div class="data-history">
      <h3>Data Entry History</h3>
      <ul *ngFor="let historyItem of customer.dataEntryHistory" class="flex flex-column gap-2">
        <li>
          {{ historyItem.content }} - {{ historyItem.date_created | date:'short' }}
        </li>
      </ul>
    </div> -->
  </div> 