.custom-header {
    font-size: 1.5rem;    /* Adjust header font size */
    color: #007ad9;       /* Custom color for header */
    font-weight: bold;    /* Make the header bold */
    padding: 10px;        /* Add padding */
  }
  
  .custom-subheader {
    font-size: 1rem;      /* Adjust subheader font size */
    color: #808080;       /* Grey color for subheader */
    font-style: italic;   /* Italic style for subheader */
    padding-bottom: 5px;  /* Bottom padding */
  }
  
  .customer-details-container{
    padding: 30px 50px 30px 50px;
  }
  .circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }