<div class="customer-details-container">
    

    <!-- Back button -->
    <button pButton  (click)="goBack()" class="mb-3">Back</button>
    <h2>Customer Details</h2>

    <!-- QR Code Display -->
    <!-- <div class="qr-code">
      <qrcode [qrdata]="customer.customerId" [size]="256" [level]="'M'"></qrcode>
    </div> -->

    <!-- Customer Detail Fields -->
    <div class="grid">
        <div class="col-6 md:col-4" *ngFor="let field of customerFields">
            <app-customer-detail-field  [fieldName]="field.name"
            [newData]="customer.newData[field.key]" [existingData]="customer.existingData[field.key]">
        </app-customer-detail-field>
        </div>
    </div>
        
           
      



    <!-- <div class="data-history">
      <h3>Data Entry History</h3>
      <ul>
        <li *ngFor="let historyItem of customer.dataEntryHistory">
          {{ historyItem.content }} - {{ historyItem.date_created | date:'short' }}
        </li>
      </ul>
    </div> -->
</div>