<div class="card">
  
    <p-table #dt1 [value]="filteredNewCustomers" dataKey="uid" [(selection)]="selectedNewCustomer" [rows]="100" 
             [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
             [globalFilterFields]="['feeder', 'meterNo', 'date', 'status']" (onRowSelect)="showDetails($event.data)"  [scrollable]="true" 
             scrollHeight="400px">
        <ng-template pTemplate="caption">
            <div class="flex" style="display: flex; justify-content: space-between;">
                   <p-button label="Review" [loading]="loading" (click)="navigateToDetails()" 
                          [disabled]="selectedNewCustomer.length === 0" class="ml-3"></p-button>

                          <div style="display: flex; justify-content: flex-end; gap: 20px;"> <!-- Add gap to space elements -->
                            <a class="p-button p-button-outlined font-bold p-button-help custom-button" (click)="openSearch()">
                                <i class="pi pi-filter"></i>
                            </a>  
                                          
                            <a class="p-button p-button-outlined font-bold p-button-help custom-button" (click)="reload()">
                                <i class="pi pi-refresh"></i>
                            </a>  
                        
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" [(ngModel)]="searchValue" #filter
                                    (input)="onGlobalFilter(dt1, $event)" placeholder="Keyword Search">
                            </span>
                        </div>      
                
                  
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Customer No
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Feeder
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Meter No
                        
                    </div>
                </th>
  
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Date
                    </div>
                </th>
  
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Status
                    
                    </div>
                </th>

                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Action
                    
                    </div>
                </th>
             
  
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-filteredCustomer>
            <tr  class="cursor-pointer">
                <td  >
                    <p-tableCheckbox [value]="filteredCustomer" />
                </td>
  
                <td>
  
                    {{filteredCustomer.customer_no}}
                </td>
                <td>
  
                    {{filteredCustomer.feeder}}
                </td>
                <!-- <td>
                    {{filteredCustomer.account_no}}
                </td> -->
                <td>
                    {{filteredCustomer.meter_no}}
                </td>
                <td>
                    {{ filteredCustomer.date_created | date: 'MM/dd/yyyy' }}
                </td>
  
                <td>
                    <p-tag [value]="filteredCustomer.approval_status" [severity]="getSeverity(filteredCustomer.approval_status)" />
                </td>

                <td>
                    <button pButton icon="pi pi-eye" class="p-button-text" (click)="viewDetails(filteredCustomer)"></button>
                  </td>
  
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
    <app-filter [display]="showDetailsDialog" 
    (filterApplied)="filterApplied($event)" (clearFiltersEvent)="onClearFilters()" (closeFiltersEvent)="onDialogClosed($event)"></app-filter>
  </div>
  
  
  
  