<div class="card" style="overflow: hidden;">

    <!-- Error Message -->
    <div *ngIf="fetchError" class="error-message">
        <p>{{ fetchError }}</p>
    </div>

    <p-toast></p-toast>

    <p-table *ngIf="users && users.length" [value]="users" dataKey="id" editMode="row" 
        #dt1
        [(selection)]="selectedUsers" 
        [rowHover]="true"
        [rows]="pageSize"
        (onPage)="onPageChange($event)"
        [showCurrentPageReport]="true"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['name', 'role', 'username', 'status', 'date_created']"
    >
        <ng-template pTemplate="caption">
            <div class="flex-container">
                <a routerLink="/app/manage-user" class="p-button p-button-outlined font-bold">
                    Add New User 
                </a>

                <div class="p-input-icon-left">
                    <i class="pi pi-search" style="margin-top: -3px;"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue" #filter 
                        (input)="onGlobalFilter(dt1, $event)" 
                        placeholder="Keyword Search">
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Status</th>
                <th>Date</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="users">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.name" required 
                                (blur)="user.editing = false" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span >
                                {{ user.name }}
                            </span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.username" required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.username}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-tag [value]="user.role" [severity]="getSeverity(user.role)" />
                </td>
                <td>
                    <p-tag [value]="user.status" [severity]="getSeverityStatus(user.status)" />
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="date" [(ngModel)]="user.date_createde" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.date_created | date}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                  <div class="flex justify-content-center">
                    <!-- <button (click)="toggleUserStatus(user)">
                        {{ user.is_active ? 'disabled' : 'enabled' }}
                      </button> -->
                    <!-- <p-inputSwitch [(ngModel)]="user.is_active" 
                                   (onChange)="toggleUserStatus(user)"
                                   [styleClass]="user.is_active ? 'enabled' : 'disabled'">
                    </p-inputSwitch> -->
                    <!-- <p-inputSwitch [(ngModel)]="user.is_active" 
               (onChange)="toggleUserStatus(user)">
</p-inputSwitch> -->
<p-inputSwitch 
  [(ngModel)]="user.is_active"
  (onChange)="toggleUserStatus(user, $event)"
  [styleClass]="user.is_active ? 'enabled' : 'disabled'">
</p-inputSwitch>
                  </div>
                </td>
                
            </tr>
        </ng-template>
    </p-table>

</div>

<script>
    // Show error message using p-toast if there’s an error
    if (fetchError) {
        this.messageService.add({ severity: 'error', summary: 'Error', detail: fetchError });
    }
</script>
