
<div class="card">
  <div class="group-left">
      <button pButton pRipple type="button" label="Select Category" (click)="showDialog()" icon="pi pi-plus"
          class="group-right p-button-rounded p-button-text p-mr-2 p-mt-2"></button>
  </div>
</div>

<p-dialog header="Select Category to filter Payment Records" [(visible)]="display" modal="modal" showEffect="fade"
  height="500px" [style]="{width: '500px'}">
  <div class="p-fluid">      

      <!-- Region Dropdown -->
      <div class="p-field">
          <p-dropdown [options]="regions" [(ngModel)]="tempRegion" placeholder="Select Region"
              [showClear]="true" optionValue="name" optionLabel="name"></p-dropdown>
      </div>

      <!-- BussinessHub Dropdown -->
      <div class="p-field">
          <p-dropdown [options]="business_hubs" [(ngModel)]="tempBusinessHub" placeholder="Select BusinessHub"
              [showClear]="true" optionValue="name" optionLabel="name"></p-dropdown>
      </div>

      <!-- Session Dropdown -->
      <div class="p-field">
          <p-dropdown [options]="service_centers" [(ngModel)]="tempServiceCenter" placeholder="Select service_centers" [showClear]="true"
              optionValue="name" optionLabel="name"></p-dropdown>
      </div>

      <div class="p-field">
        <input type="date" formControlName="dateCreatedFrom" pInputText class="date-from" />
    </div>

    <div class="p-field">
        <input type="date" formControlName="dateCreatedTo" pInputText class="date-to" />
    </div>


      <!-- Filter Button -->
      <div class="p-field">
          <button pButton type="button" label="Filter" (click)="onFilterButtonClick()"></button>
      </div>

  </div>
</p-dialog>

<div class="card">

  <div class="p-grid ">
      <div class="p-col-12">

          <div class="" *ngIf="!pageloading && customers && !errOccured ">
              <p-table #dt [value]="customers" [(selection)]="selectedCustomer" dataKey="id"
                  styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                  [filterDelay]="0"
                  [globalFilterFields]="['fullname','email','phone','formnumber','approveddept, matricnumber']">

                  <ng-template pTemplate="caption">
                      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                          Customer Records
                          <span class="p-input-icon-left">
                              <i class="pi pi-search"></i>
                              <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                  placeholder="Global Search" /> -->
                          </span>
                      </div>
                  </ng-template>

                  <ng-template pTemplate="header">
                      <tr>

                          <th pSortableColumn="fullname" style="width: 23rem;">
                              <div class="p-d-flex p-jc-between p-ai-center">
                                Customer No
                                  <p-sortIcon field="Customer No"></p-sortIcon>
                                  <p-columnFilter type="text" field="Customer No" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                              </div>
                          </th>

                          <th pSortableColumn="matricnumber">
                              <div class="p-d-flex p-jc-between p-ai-center">
                                Customer Name
                                  <p-sortIcon field="Customer Name"></p-sortIcon>
                                  <p-columnFilter type="text" field="Customer Name" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                              </div>
                          </th>

                          <th pSortableColumn="phone">
                              <div class="p-d-flex p-jc-between p-ai-center">
                                Feeder
                                  <p-sortIcon field="Feeder"></p-sortIcon>
                                  <p-columnFilter type="text" field="phone" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                              </div>
                          </th>

                          <th pSortableColumn="Form Number">
                              <div class="p-d-flex p-jc-between p-ai-center">
                                  Status
                                  <p-sortIcon field="Status"></p-sortIcon>
                                  <p-columnFilter type="text" field="Status" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                              </div>
                          </th>

                          <th pSortableColumn="approveddept">
                              <div class="p-d-flex p-jc-between p-ai-center">
                                  Date Modified
                                  <p-sortIcon field="dateModified"></p-sortIcon>
                                  <p-columnFilter type="date" field="dateModified" display="menu" class="p-ml-auto">
                                  </p-columnFilter>
                              </div>
                          </th>
                          <th style="width: 8rem">Add/Edit</th>
                      </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-customer>
                      <tr class="p-selectable-row">
                         
                        <td>{{ customer.customerNo }}</td>
                        <td>{{ customer.fullName }}</td>
                        <td>{{ customer.feeder }}</td>
                        <!-- <td>
                          <p-tag [value]="record.approval_status" [severity]="getSeverity(record.approval_status)" />
                      </td> -->
                        <!-- <td>{{ record.date_created | date: 'MM/dd/yyyy' }}</td> -->
                        <td>{{ customer.last_modified | date: 'MM/dd/yyyy' }}</td>
                        <td>
                              <!-- <button pButton pRipple icon="pi pi-pencil"
                                  class="p-button-rounded p-button-primary p-mr-2"
                                  (click)="getCustomerByRegionByBussinessHubByServiceCenter()"></button> -->
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="8">No Student found.</td>
                      </tr>
                  </ng-template>
              </p-table>

          </div>
      </div>
  </div>

</div>





<!-- <div class="card">

          <app-fresher></app-fresher>
          <app-staylite></app-staylite>
          <app-graduated-student></app-graduated-student>
          <app-all-student></app-all-student>

</div> -->

<!-- <div class="card">
  <p-tabView>
      <p-tabPanel header="Fresher">
          <app-fresher></app-fresher>
      </p-tabPanel>
      <p-tabPanel header="Staylite">
          <app-staylite></app-staylite>
      </p-tabPanel>
      <p-tabPanel header="Graduate">
          <app-graduated-student></app-graduated-student>
      </p-tabPanel>
      <p-tabPanel header="All Student">
          <app-all-student></app-all-student>
      </p-tabPanel>

  </p-tabView>
</div> -->