<div class="card">
  <p-toast />
  <p-table [value]="batches" dataKey="batch_code" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)"
  [paginator]="true" (onPage)="onPageChange($event)" [rows]="100"  [scrollable]="true" 
  scrollHeight="400px" 
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            
          </ng-template>
        
          <ng-template pTemplate="left">
            <div class="flex justify-content-center gap-3">
              <a 
                routerLink="/app/bulk-customer-validation" 
                class="p-button p-button-outlined font-bold p-button-help custom-button"
                pTooltip="Uploaded"
                tooltipPosition="bottom"
                style="width: 100px; background-color: transparent; display: inline-flex; align-items: center; justify-content: center;" 
              >
                <i class="pi pi-upload"></i>
              </a>
            </div>
            
            <p-chip styleClass="pl-0 pr-3 ml-4 custom-chip">
              <span class="bg-primary border-circle custom-circle flex align-items-center justify-content-center">
                <div *ngIf="totalRecords > 0" class="total-count">
                  {{ totalRecords }}
                </div>
              </span>
              <span class="ml-2 font-medium custom-text">
                Total Batches
              </span>
            </p-chip>
          </ng-template>
        
          <ng-container pTemplate="center" *ngIf="hasErrors">
            <button pButton label="Download Error Logs" (click)="downloadErrorLogs()"></button>
          </ng-container>
        
          <ng-template pTemplate="right">
            <button 
  [loading]="loading"
  pButton
  pRipple
  class="p-button p-button-outlined font-bold p-button-help custom-button"
  icon="pi pi-download"
  (click)="exportData()"
  pTooltip="Export Excel"
  tooltipPosition="bottom"
  style="width: 100px;"
>
</button>
            
          </ng-template>
        </p-toolbar>
        
          
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 5rem"></th>
              <th pSortableColumn="batch_code">Batch Code <p-sortIcon field="batch_code" /></th>
              <th pSortableColumn="validation_type">Vildation Type <p-sortIcon field="validation_type" /></th>
              <th pSortableColumn="approved_rejected">Approved/Rejected <p-sortIcon field="approved_rejected" /></th>
              <th pSortableColumn="total_error">Error Count <p-sortIcon field="total_error" /></th>
              <th pSortableColumn="total_record">Total Record <p-sortIcon field="total_record" /></th>
              <th pSortableColumn="date_created">Created Dated <p-sortIcon field="date_created" /></th>
              <th pSortableColumn="created_by.name">Uploaded By <p-sortIcon field="created_by.name" /></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-batch let-expanded="expanded">
          <tr>
              <td>
                  <p-button type="button" pRipple [pRowToggler]="batch" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
              </td>
              <td>{{ batch.batch_code }}</td>
              <td>{{ batch.validation_type }}</td>              
              <td>{{ batch.total_approved }}/{{ batch.total_rejected }}</td>
              <td>{{batch.total_error}}</td>
              <td>{{batch.total_record}}</td>
              <td>{{ batch.date_created  | date}}</td>
              <td>{{ batch.created_by.name }}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-batch>
          <tr>
              <td colspan="7">
                  <div class="p-3">
                      <p-table [value]="batch.logs" dataKey="uid">
                          <ng-template pTemplate="header">
                              <tr>
                                  
                                  <th pSortableColumn="description">Error Detail </th>
                                  <th pSortableColumn="posted_by">Event Source</th>
                                
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-log>
                              <tr>
                                  <td>{{ log.description }}</td>
                                  <td>{{ log?.posted_by?.name }}</td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td colspan="6">No upload history.</td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>