<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="card flex justify-content-center gap-3">
            <a routerLink="/app/bulk-customer-validation"   class="p-button font-bold">
              <i class="pi pi-upload"></i>  
            </a>
        </div>
        </ng-template>
        <ng-template pTemplate="center">
          <div *ngIf="totalRecords > 0" class="total-count">
            Total Batches: {{ totalRecords }}
          </div>
        </ng-template>
        <ng-container pTemplate="center" *ngIf="hasErrors">
          <button
            pButton
            label="Download Error Logs"
            (click)="downloadErrorLogs()"
          ></button>
        </ng-container>

        <ng-template pTemplate="right">
          <button
          [loading]="loading"
            pButton
            pRipple
            label="Export"
            icon="pi pi-download"
            class="p-button-help"
            (click)="exportData()"
          ></button>
        </ng-template>
        
      </p-toolbar>

      <p-table [value]="batches" [loading]="loading" [paginator]="true" [rows]="pageSize"   
      [totalRecords]="totalRecords" (onPage)="onPageChange($event)">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="batch_code">
              Batch Code <p-sortIcon field="batch_code"></p-sortIcon>
            </th>
            <th pSortableColumn="validation_type">
              Validation Type <p-sortIcon field="validation_type"></p-sortIcon>
            </th>
            <th pSortableColumn="total_approved">
              Total Approved <p-sortIcon field="total_approved"></p-sortIcon>
            </th>
            <th pSortableColumn="total_rejected">
              Total Rejected <p-sortIcon field="total_rejected"></p-sortIcon>
            </th>
            <th pSortableColumn="total_record">
              Total Record <p-sortIcon field="total_record"></p-sortIcon>
            </th>
            <th pSortableColumn="date_created">
              Created Date <p-sortIcon field="date_created"></p-sortIcon>
            </th>
            <th pSortableColumn="created_by.name">
              Uploaded By <p-sortIcon field="created_by.name"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
      
        <ng-template pTemplate="body" let-batch>
          <tr>
            <td>{{ batch.batch_code }}</td>
            <td>{{ batch.validation_type }}</td>
            <td>{{ batch.total_approved }}</td>
            <td>{{ batch.total_rejected }}</td>
            <td>{{ batch.total_record }}</td>
            <td>{{ batch.date_created | date }}</td>
           <td>{{ batch.created_by.name }}</td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Progress Bar and Toast for Real-time Feedback -->
      <div class="p-col-12">
        <p-progressBar *ngIf="uploading" mode="indeterminate"></p-progressBar>
      </div>

      <!-- Download Error Logs Button -->
    </div>
  </div>
</div>
