<div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
        <div class="p-3 text-white h-8rem border-round-2xl m-0 bg-center bg-cover bg-no-repeat bg-cyan-400 shadow-1"
          style="background-image: url('assets/layout/images/dashboard/effect-1.svg')">
          <div class="font-bold w-full mb-2">
            <span>Users</span>
          </div>
          <div class="text-white text-2xl font-bold w-full flex align-items-center py-1 gap-2">
            <i class="pi pi-users ml-2 p-3 bg-blue-500 border-circle"></i>
            <span>{{ totalUserCount }}</span>  <!-- Bind the count from component -->
          </div>
        </div>
      </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="p-3 text-white h-8rem border-round-2xl m-0 bg-center bg-cover bg-no-repeat bg-orange-400 shadow-1"
            style="background-image: url('assets/layout/images/dashboard/effect-2.svg')">
            <div class="font-bold w-full mb-2 ">
                <span>Approved Customer</span>
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1 gap-2"><i
                    class="pi pi-hourglass ml-2  p-3 bg-orange-600 border-circle"></i>
                <span>{{totalApprovalStatus}}</span>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <div class="p-3 text-white h-8rem border-round-2xl m-0 bg-center bg-cover bg-no-repeat bg-purple-400 shadow-1"
            style="background-image: url('assets/layout/images/dashboard/effect-3.svg')">
            <div class="font-bold w-full mb-2 ">
                <span>Awaiting Review Customer</span>
                
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1 gap-2"><i
                    class="pi pi-check-circle ml-2  p-3 bg-purple-600 border-circle"></i>
                <span>{{ totalAwaitingReviewStatus }}</span>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-4">
        <div class="p-3 text-white h-8rem border-round-2xl m-0 bg-center bg-cover bg-no-repeat bg-blue-400 shadow-1"
             style="background-image: url('assets/layout/images/dashboard/effect-4.svg')">
          <div class="font-bold w-full mb-2 ">
            <span>Total Customer</span>
          </div>
          <div class="text-white text-2xl font-bold w-full flex align-items-center py-1 gap-2">
            <i class="pi pi-check-circle ml-2 p-3 bg-blue-600 border-circle"></i>
            <span>{{ totalCustomerCount }}</span>  <!-- Bind the count from component -->
          </div>
        </div>
      </div>


     <div class="col-12 md:col-6 lg:col-4">
        <div class="p-3 text-white h-8rem border-round-2xl m-0 bg-center bg-cover bg-no-repeat bg-red-400 shadow-1"
            style="background-image: url('assets/layout/images/dashboard/effect-1.svg')">
            <div class="font-bold w-full mb-2 ">
                <span>Rejected Customer</span>
            </div>
            <div class="text-white text-2xl font-bold w-full flex align-items-center py-1 gap-2"><i
                    class="pi pi-check-circle ml-2  p-3 bg-red-600 border-circle"></i>
                <span>{{totalRejectStatus}}</span>
            </div>
        </div>
    </div>


    <div class="col-12 lg:col-6">
        <div class="card flex flex-column align-items-center border-round-2xl">
            <h5 class="text-left w-full">Performance Metric</h5>
            <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
        </div>
    </div>


    <div class="col-12 lg:col-6">
      <div class="card h-full flex flex-column p-3 border-round-2xl">
          <h5 class="text-left w-full mb-5">Recent Activities</h5>
          <div>
              <div class="hover:shadow-1 border-round mb-3" *ngFor="let activity of recentActivities">
                  <div class="flex flex-column gap-4 w-full p-3 cursor-pointer">
                      <!-- Activity details section -->
                      <div class="flex flex-column gap-4 w-full">
                          <div class="flex flex-row gap-4 w-full">
                              <div class="flex flex-column w-full sm:w-6 md:w-6 lg:w-6">
                                  <label for="postedBy-{{ activity.id }}" class="mr-2">Posted By:</label>
                                  <h5 style="margin-top: -1px;" id="postedBy-{{ activity.id }}">{{ activity.postedBy }}</h5>
                              </div>
                              <div class="flex flex-column w-full sm:w-6 md:w-6 lg:w-6 ml-auto">
                                  <label for="createdDate-{{ activity.id }}" style="float: inline-end;" class="mr-2">Created Date:</label>
                                  <h5 style="margin-top: -1px;" id="createdDate-{{ activity.id }}">{{ activity.createdDate }}</h5>
                              </div>
                          </div>
                          
                          <div class="flex flex-row gap-4 w-full">
                              <div class="flex flex-column w-full sm:w-6 md:w-6 lg:w-6">
                                  <label for="category-{{ activity.id }}" class="category-label">Category:</label>
                                  <h5 style="margin-top: -1px;" id="category-{{ activity.id }}" class="category-text">{{ activity.category }}</h5>
                              </div>
  
                              <div class="flex flex-column w-full sm:w-6 md:w-6 lg:w-6 ml-auto">
                                  <label for="status-{{ activity.id }}" class="status-label">Status:</label>
                                  <h5 style="margin-top: -1px;" id="status-{{ activity.id }}" class="status-text">{{ activity.status }}</h5>
                              </div>
                          </div>
  
                          <div class="flex flex-column w-full">
                              <label for="description-{{ activity.id }}" class="mr-2">Description:</label>
                              <h5 style="margin-top: -1px;" id="description-{{ activity.id }}" class="w-full">{{ activity.description }}</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
      
      
      
      
      
  </div>
