<p-dialog header="Select Category to Filter" [(visible)]="display" modal="modal" showEffect="fade"
  [style]="{width: '550px'}" [contentStyle]="{height: '370px'}">

  <div class="p-fluid">
    <div class="p-grid" style="margin-bottom: 1rem">

      <div class="p-col-12" style="display: flex; gap: 3rem; margin-bottom: 1rem; ">

        <div>
          <p-dropdown id="region" [options]="regions" [(ngModel)]="tempRegion" placeholder="Select Region"
            optionValue="name" optionLabel="name" [style]="{width: '230px'}" (onChange)="onRegionChange()">
          </p-dropdown>
        </div>

        <div *ngIf="businessHubs.length">
          <p-dropdown id="businessHub" [options]="businessHubs" [(ngModel)]="tempBusinessHub"
            placeholder="Select Business Hub" optionValue="name" optionLabel="name" [style]="{width: '230px'}"
            (onChange)="onBusinessHubChange()">
          </p-dropdown>
        </div>

      </div>

      <div class="p-col-12" style="display: flex; gap: 3rem; margin-bottom: 1rem;">

        <div *ngIf="serviceCenters.length">
          <p-dropdown id="serviceCenter" [options]="serviceCenters" [(ngModel)]="tempServiceCenter"
            placeholder="Select Service Center" optionValue="name" optionLabel="name" [style]="{width: '230px'}">
          </p-dropdown>
        </div>

        <p-dropdown id="status" [options]="statuses" [(ngModel)]="tempStatus" placeholder="Select Status"
          optionValue="name" optionLabel="name" [style]="{width: '230px'}">
        </p-dropdown>
       
      </div>

      <div class="p-col-12" style="display: flex; gap: 3rem; margin-bottom: 1rem; ">

        <p-dropdown id="createdBy" [options]="createdBys" [(ngModel)]="tempCreatedBy" placeholder="Select CreatedBy"
          optionValue="name" optionLabel="name" [style]="{width: '230px'}">
        </p-dropdown>

        <p-dropdown id="updatedBy" [options]="updatedBys" [(ngModel)]="tempUpdatedBy" placeholder="Select UpdatedBy"
          optionValue="name" optionLabel="name" [style]="{width: '230px'}">
        </p-dropdown>

      </div>


      <div class="p-col-12" style="display: flex; gap: 3rem; margin-bottom: 1rem;">
        <p-calendar id="dateCreatedFrom" [(ngModel)]="tempDateCreatedFrom" placeholder="Start Date" appendTo="body"
          [style]="{width: '230px'}">
        </p-calendar>

        <p-calendar id="dateCreatedTo" [(ngModel)]="tempDateCreatedTo" placeholder="End Date" appendTo="body"
          [style]="{width: '230px'}">
        </p-calendar>
      </div>

      <div class="p-col-12" style="display: flex; gap: 3rem; margin-bottom: 1rem;">
        <p-calendar id="aplicationDate" [(ngModel)]="tempAplicationDates" placeholder="Application Date" appendTo="body"
          [style]="{width: '230px'}">
        </p-calendar>

        <p-dropdown id="approvedBy" [options]="approvedBys" [(ngModel)]="tempApproveBy" placeholder="Select ApprovedBy"
          optionValue="name" optionLabel="name" [style]="{width: '230px'}">
        </p-dropdown>
      </div>

    </div><br>

    <!-- Filter Button -->
    <div class="p-grid p-justify-center">
      <button pButton type="button" label="Filter" (click)="onFilterButtonClick()">
      </button>
    </div>

  </div>
</p-dialog>


<div class="card">

  <div class="p-grid ">
    <div class="p-col-12">

      <div class="" *ngIf="!pageloading && customers && !errOccured ">
        <p-table #dt [value]="customers" [(selection)]="selectedCustomer" dataKey="id"
          styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true" [filterDelay]="0"
          [globalFilterFields]="['fullname','email','cin','customerNo','approve, ']">

          <ng-template pTemplate="caption">
            <div class="p-d-flex p-jc-between p-ai-center table-header">

              <div class="customer-records">
                Customer Records
              </div>

              <div class="group-right">
                <button pButton pRipple type="button" label="Advance Filter" (click)="showDialog()" icon="pi pi-plus"
                  class="p-button-rounded p-button-text">
                </button>
              </div>
            </div>
          </ng-template>


          <ng-template pTemplate="header">
            <tr>

              <th style="width: 23rem;">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Customer No
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  Customer Name
                </div>
              </th>

              <th pSortableColumn="phone">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Feeder
                </div>
              </th>

              <th pSortableColumn="Form Number">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Status
                </div>
              </th>

              <th pSortableColumn="approveddept">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Date Modified
                </div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">

              <td>{{ customer.cin }}</td>
              <td>{{ customer.customer_full_name }}</td>
              <td>{{ customer.feeder }}</td>
              <td>{{ customer.status_code }}</td>
              <td>{{ customer.last_modified | date: 'MM/dd/yyyy' }}</td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No Student found.</td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>

</div>